<div id="<%= dom_id category %>">
<%= link_to category_operations_path(category) do %>
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <img src="<%=asset_path("#{category.icon}.png") %>" >


  <p>
    <strong>User:</strong>
    <%= category.user_id %>
  </p>
<% end %>
</div>
