<% icon_categories =[
    {
      icon: 'home',
      title: 'home',
    },
    {
      icon: 'transportation',
      title: 'Transportation',
    },
    {
      icon: 'food',
      title: 'food',
    },
    {
      icon: 'utilities',
      title: 'utilities',
    },
    {
      icon: 'clothing',
      title: 'clothing',
    },
    {
      icon: 'medical',
      title: 'medical',
    },
    {
      icon: 'insurance',
      title: 'insurance',
    },
    {
      icon: 'personal',
      title: 'personal',
    },
    {
      icon: 'debt',
      title: 'debt',
    },
    {
      icon: 'retirement',
      title: 'retirement',
    },
    {
      icon: 'education',
      title: 'education',
    },
    
  ] %>

<div class="newcategory__container">
<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="newcategory__field">
    <%= form.label :name, style: "display: block", class: 'form__label' %>
    <%= form.text_field :name, class: 'form__input' %>
  </div>
   <p class="newcategory__text">Select an icon from the list</p>
    
    <ul class="newcategory__option">
    
    <% icon_categories.each do |icon_category|%>
      <li class="newcategory__option-list">
        <%= form.radio_button :icon, icon_category[:icon] %> 
        <img class="newcategory__img" src="<%=asset_path("#{icon_category[:icon]}.png") %>" alt=<%=icon_category[:title]%>>
      </li>
       <% end %>
    </ul>
  <div class="newcategory__button">
    <%= form.submit :class => 'btn-solid'%>
  </div>
<% end %>
</div>
